/* Sections & Layout */
.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.game-board {
  width: 30vw;
  height: 100vh;
  align-self: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.circleHalf {
  padding-top: 5px;
}

/* Game State */
#win {
  opacity: 0;
}

#lose {
  opacity: 0;
}

.section {
  padding: 10px;
  margin: 10px;
}

#count {
  display: flex;
  justify-content: center;
  margin: 5px 5px 5px 0px;
}

/* Buttons */
button {
  outline: none;
}

.btn {
  width: 100px;
  height: 100px;
}

#red {
    background-color: #a02725;
    width: 100px;
    height: 100px;
    border-radius: 100px 0 0 0;
    -moz-border-radius: 100px 0 0 0;
    -webkit-border-radius: 100px 0 0 0;
}

#yellow {
  background-color: #cbb330;
  width: 100px;
  height: 100px;
  border-radius: 0 100px 0 0;
  -moz-border-radius: 0 100px 0 0;
  -webkit-border-radius: 0 100px 0 0;
}

#blue {
  background-color: #2e72a9;
  width: 100px;
  height: 100px;
  border-radius: 0 0 0 100px;
  -moz-border-radius: 0 0 0 100px;
  -webkit-border-radius: 0 0 0 100px;
}

#green {
  background-color: #1dbf1d;
  width: 100px;
  height: 100px;
  border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
}

.red {
  background-color: #fc3d3a !important;
}

.yellow {
  background-color: #ffe760 !important;
}

.blue {
  background-color: #49adff !important;
}

.green {
  background-color: #68ff68 !important;
}
